/* 35em is also 560px (if basefont is 16px) tablet view 32.5 rem i s 527.10px
@media only screen and (min-width:560px*/
@media only screen and (min-width:  32.5em) {
    header {
        border-bottom: 1px solid#aab1b2;
    }

    /*-- m*/
    .heading2 {
        font-size: 1.0rem;
    }
   
     /*-- navigation the whole section*/
     nav {
        border-bottom: 1px solid#aab1b2;
    }

    /*-- Display in a row using ul in this case I am using a class
     .navigation the whole section* using class*/
    .navigation {
        /*-- diplaying links elements in a row flex direction row*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 10%;
    }

    .navigation li a {
        text-align: center;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
    }

    header,footer {
        border-radius: 4px;
    }
    #main {
        max-width: 760px;
    }

}